<form action="/mod_order" method="post" id="orderform" style="display: none;">
    <input type="text" id="selettoreordine" name="selettoreordine">
</form>
<div class="rigaordine" id="rigaintestazioni">
    <div class="ordcol n0">ID</div>
    <div class="ordcol n1">TABLE NR.</div>
    <div class="ordcol n2">STATUS</div>
    <div class="ordcol n3">TIME</div>
    <div class="ordcol n4">TOTAL</div>
    <div class="ordcol n5">LISTA</div>
</div>
<%  
for(let i of risultato) {  %>
<div class="rigaordine" >
    <div class="ordcol n0"><%=i.order_id%></div>
    <div class="ordcol n1"><%=i.tablenr%></div>
    <div class="ordcol n2"><%=i.status%></div>
    <div class="ordcol n3"><%=i.odate%></div>
    <div class="ordcol n4"><%=i.total%></div>
    <div class="ordcol n5"><%=i.lista%></div>
</div>
<% } %>
<script>
    const pulsanti = document.querySelectorAll('.ordcol.n2');
    // aggiungo il collegamento al CHIUDI ORDINE
    for (i=1; i<pulsanti.length;i++){
        if (pulsanti[i].innerHTML==='OPEN') 
    {    pulsanti[i].style.color ='rgb(0,255,0)';
        pulsanti[i].addEventListener('click',()=>{
            const target=event.target;
                    const padre = target.closest('.rigaordine');
                    const nrordine = padre.querySelector('.ordcol.n0').innerHTML;
                    
            let text = `Do you confirm you want to close the order nr. ${nrordine}?`;
            if (confirm(text) == true) {
                    const request = new XMLHttpRequest();
                    request.open('POST', '/orders', true);
                    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    request.send(`nrordine= ${nrordine}`);
                    
                    location.reload();
            } 

        });
        
        pulsanti[i].closest('.rigaordine').querySelector('.ordcol.n4').style.color = 'rgb(0,0,255)';
        //aggiungo il collegamento al modifica ordine

        pulsanti[i].closest('.rigaordine').querySelector('.ordcol.n4').addEventListener('click', ()=>{
            const target=event.target;
            let nrordine =  target.closest('.rigaordine').querySelector('.ordcol.n0').innerHTML;
            let ordini = JSON.parse(target.closest('.rigaordine').querySelector('.ordcol.n5').innerHTML);
            ordini.pop();
            let stringaOrdine = "Riepilogo Ordine";
            for (let i=0;i<ordini.length;i++) { stringaOrdine += `\n ${ordini[i].quantity} x ${ordini[i].name}` ;}
            alert(stringaOrdine)
            document.querySelector('#selettoreordine').value = nrordine;
            //FACCIO IL POST DEL FORM 
            
            document.querySelector('#orderform').submit();
        });
        

    }
            //aggiungo il riepilogo ordine
            pulsanti[i].closest('.rigaordine').querySelector('.ordcol.n0').addEventListener('click', ()=>{
            const target=event.target;
            let nrordine =  target.closest('.rigaordine').querySelector('.ordcol.n0').innerHTML;
            let ordini = JSON.parse(target.closest('.rigaordine').querySelector('.ordcol.n5').innerHTML);
            ordini.pop();
            let stringaOrdine = `Riepilogo Ordine nr. ${nrordine}`;
            for (let i=0;i<ordini.length;i++) { stringaOrdine += `\n ${ordini[i].quantity} x ${ordini[i].name}` ;}
            alert(stringaOrdine)
            });
    }


    </script>